{% extends "base.html" %} 

{% block content %}
    <body>
        <h1>Dodaj wydarzenie</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class ="button">Dodaj</button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        </form>
        
    </body>
{% endblock %}