{% extends "base.html" %} 

{% block content %}
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Paramtery sali: {{ room.nazwa }}</h1>
        <ul>
               
        </ul>
        <ul>
            <li>Nazwa: {{ room.nazwa }}</li>
            <li>Lokalizacja: {{ room.lokalizacja }}</li>
            <li>Pojemnosc: {{ room.pojemnosc }}</li>
            <li>Dostepne wyposazenie: {{ room.dostepne_wyposazenie }}</li>
            <li>Zdjecie: </li> <tr><img src="{{ room.zdjecie.url}}" alt="{{ room.nazwa }}"img style="max-width: 300px; max-height: 300px">  </li>
        </ul>
    </body>
{% endblock %}